<p class="card-text">Some example text. Some example text.Some example text. Some example text. Some example text. Some example text.Some example
  text. Some example text. Some example text. Some example text.Some example text. Some example text. Some example text.
  Some example text.Some example text. Some example text. Some example text. Some example text.Some example text. Some example
  text. Some example text. Some example text.Some example text. Some example text.
</p>
<p class="card-text">Some example text. Some example text.Some example text. Some example text. Some example text. Some example text.Some example
  text. Some example text. Some example text. Some example text.Some example text. Some example text. Some example text.
  Some example text.Some example text. Some example text. Some example text. Some example text.Some example text. Some example
  text. Some example text. Some example text.Some example text. Some example text. Some example text. Some example text.Some
  example text. Some example text. Some example text. Some example text.Some example text. Some example text.Some example
  text. Some example text. Some example text. Some example text.Some example text. Some example text. Some example text.
  Some example text.Some example text. Some example text. Some example text. Some example text.Some example text. Some example
  text. Some example text. Some example text.Some example text. Some example text. Some example text. Some example text.Some
  example text. Some example text. Some example text. Some example text.Some example text. Some example text. Some example
  text. Some example text.Some example text. Some example text. Some example text. Some example text.Some example text. Some
  example text. Some example text. Some example text.Some example text. Some example text. Some example text. Some example
  text.Some example text. Some example text. Some example text. Some example text.Some example text. Some example text.
</p>